* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

@font-face {
  font-family: "Open Sans", sans-serif;
  src: url(/fonts/OpenSans-Bold.woff);
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans", sans-serif;
  src: url(/fonts/OpenSans-Regular.woff);
  font-weight: 400;
  font-style: normal;
}

/*-------------Общие стили--------------*/

body {
  padding-bottom: 44px;
}
/*шапка*/

.link {
  text-decoration: none;
  color: #000;
}

.link-nav {
  font-size: 0.8125rem;
  font-weight: 400;
  text-transform: uppercase;

  color: #fff;
}

.link-nav:hover {
  border-bottom: 2px solid white;
}

.main-header {
  position: relative;

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #1c2c34;

  z-index: 0;
}

.main-header::after {
  content: "";
  position: absolute;

  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background-color: #000;
  opacity: 0.6;
  z-index: -1;
}

.logo-nav {
  display: flex;
  flex-wrap: wrap;
}

.title-head {
  margin-left: auto;
  margin-right: auto;

  color: #fff;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
}

/*Общие стили в тренде*/

.trend-header,
.trend-post,
.main-tegs {
  display: flex;
}

.trend-header {
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.trend-post {
  align-items: flex-end;
}

.title-trend {
  color: #fff;
}

.trend-post-wrap {
  width: 91.66%;
  padding: 30px 20px;

  border: 3px solid #dcd2b8;
}

.trend-header-title,
.trend-post,
.teg,
.title-news,
.caption-new-post .popup-title {
  text-transform: uppercase;
}

.trend-header-title {
  position: relative;
  padding-bottom: 12px;
}

.trend-header-title::before {
  content: "";
  position: absolute;
  width: 4.06em;

  top: 0;
  right: 0;
  left: 0;
  bottom: 0;

  margin-right: auto;
  margin-left: auto;

  border-bottom: 3px solid #dcd2b8;
}

.teg {
  font-size: 0.875em;

  color: #b59f5b;
  font-weight: 700;
}

.teg:hover {
  border-bottom: 2px solid #dcd2b8;
}

.main-tegs {
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.main-teg:not(:last-child) {
  margin-right: 14px;
}

.trend-post {
  position: relative;
  margin-bottom: 3px;
  align-items: bottom;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  z-index: 0;
}

.trend-post::after {
  content: "";
  position: absolute;

  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background-color: #000000;
  opacity: 0.6;
  z-index: -1;
}

.post-one {
  background-image: url(../images/trend1.jpg);
}

.post-two {
  background-image: url(../images/trend2.jpg);
}

.post-three {
  background-image: url(../images/trend3.jpg);
}

.post-four {
  background-image: url(../images/trend4.jpg);
}

/*Общие стили основной контент*/
/*Общие стили блок с постами*/

.data,
.name,
.data-new-post,
.site-info,
.index,
.list-teg {
  font: 0.75rem;
}

.teg,
.caption,
.list-topic {
  font: 14px;
  font-weight: 700;
}
.teg {
  color: #b59f5b;
}

.main-tegs {
  display: flex;
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.main-teg:not(:last-child) {
  margin-right: 14px;
}

.data {
  margin-right: 10px;

  font-weight: 400;
  color: #888;
}

.name {
  font-weight: 700;
  text-transform: capitalize;
}

/*Общие стили новые посты*/

.caption {
  position: relative;
  margin: 0;
  padding-bottom: 15px;

  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.caption::before {
  content: "";
  position: absolute;

  top: 0;
  right: 0;
  left: 0;
  bottom: 0;

  margin-left: auto;
  margin-right: auto;
  padding-top: 14px;

  width: 61px;
  border-bottom: 3px solid #e1d9bd;
}

.container {
  display: flex;
  margin-top: 22px;
}

.data-new-post {
  color: #888;
}

.caption-new-post {
  font-size: 0.875rem;
  font-weight: 700;
}

/*Общие стили форма поиска и рассылка*/

.search {
  display: flex;
  margin-top: 55px;
  align-items: center;
}

.search-wrap {
  display: flex;
  flex-grow: 1;
}

.hydden-text-form {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
}

.search-input,
.search-button,
.email-input,
.email-button,
.button-send {
  vertical-align: middle;
  outline: none;
  border: none;
}

.search-input {
  flex-grow: 1;
  margin-right: 0;
  padding: 1px;
  background-color: #f4f7f6;
}

.search-input::placeholder {
  color: #939594;
}

.search-input:focus {
  border: 2px #b59f5b solid;
}

.search-button {
  padding: 0;

  background-image: url(../svg/search.svg);
  background-color: #b59f5b;
  background-size: 18px 18px;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.search-button:hover {
  background-color: #323232;
}

.email-form {
  margin-top: 55px;
}

.email-input,
.email-button,
.button-send {
  width: 100%;
}

.email-input {
  margin-top: 24px;
  margin-bottom: 24px;
  padding: 1px;

  background-color: #f4f7f6;
}

.email-input:focus {
  border: 2px #b59f5b solid;
}

.email-input::placeholder {
  color: #939594;
}

.email-button,
.button-send {
  font-size: 0.875rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
  background-color: #b59f5b;
  cursor: pointer;
}

.email-button:hover,
.button-send:hover {
  background-color: #323232;
}

/*Общие стили список тегов*/

.tegs {
  box-sizing: border-box;
}

.list-tegs {
  display: flex;
  flex-wrap: wrap;

  padding: 0;
}

.list-teg-link {
  padding: 0;
  list-style-type: none;
}

.list-teg {
  display: block;
  padding: 7px 13px;

  border: 2px solid #eee;

  font-weight: 700;
  text-transform: uppercase;
}

.list-teg:hover {
  border: 2px solid #b59f5b;
}

/*Общие стили список тем*/

.list-topics {
  margin: 0;
  padding-top: 21px;
  padding-left: 0;

  list-style-type: none;
}

.list-topic {
  padding-bottom: 15px;
  padding-top: 15px;
  border-bottom: 2px solid #eeeeee;
  font-weight: 700;
}

.list-topic > .link:hover {
  color: #b59f5b;
}

.index {
  vertical-align: super;
  margin-left: 5px;

  font-weight: 700;
  color: #b59f5b;
}

/*Общие стили блок с товарами*/

.product {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.product-wrap {
  padding: 50px 25px 25px;
  margin-top: -35px;
  border: 3px solid #dcd2b8;
}

.price-byu {
  display: flex;
  justify-content: space-between;
  margin-top: 23px;
}

.title-product {
  margin-bottom: 1em;
  text-transform: uppercase;
}

.text-product {
  font-weight: 400;
  font-size: 0.9375rem;
}
.shop-link {
  color: #b59f5b;
}
.price-product {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.old-price {
  font-weight: 700;
  font-size: 0.875rem;
  text-decoration: line-through;
}
.new-price {
  font-weight: 700;
  font-size: 1.25rem;
}
.buy-button {
  height: 45px;
  width: 10em;

  font-size: 0.875rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
  background-color: #b59f5b;
  border: none;
}

/*общие стили подвал*/
/*общие стили соцсети*/
.footer-page {
  margin-left: auto;
  margin-right: auto;

  text-align: center;
}

.adress {
  display: flex;
  justify-content: center;

  background-color: #f4f7f6;
}

.socials {
  display: flex;

  margin: 28px 0;
  padding: 0;

  list-style-type: none;
}

.social-item:not(:last-child) {
  margin-right: 17px;
}

.social-link {
  display: block;
  width: 20px;
  height: 20px;

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  cursor: pointer;
  box-shadow: 5px 5px 5px #f4f7f6;
}

.social-link-twitter {
  background-image: url("../svg/004-twitter.svg");
}

.social-link-pinterest {
  background-image: url("../svg/001-pinterest.svg");
}

.social-link-facebook {
  background-image: url("../svg/002-facebook-logo.svg");
}

.social-link-instargam {
  background-image: url("../svg/005-instagram.svg");
}

.social-link-tumblr {
  background-image: url("../svg/003-tumblr.svg");
}

.site-info {
  color: #888;
}

/*Попап общие стили*/
.popup-wrap {
  position: fixed;
  display: flex;

  top: 0px;
  width: 100vw;
  min-height: 100vh;

  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.6);

  display: none;
}

.popup-close {
  position: absolute;
  top: -35px;
  right: 0;
  width: 21px;
  height: 21px;

  border: none;
  background-image: url(../svg/form-x.svg);
  background-size: 100% 100%;
  background-color: rgba(0, 0, 0, 0);
  background-position: center;
  cursor: pointer;
  background-repeat: no-repeat;
}

.hydden-text-close {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
}

.popup-form {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin: auto;

  width: 100%;
  height: 100%;
  padding: 30px 25px;

  background-color: rgba(255, 255, 255, 1);
}

.popup-title {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  text-align: center;

  width: 100%;
  padding-bottom: 12px;

  text-transform: uppercase;
}
.popup-title::before {
  content: "";
  position: absolute;
  width: 4.06em;

  top: 0;
  right: 0;
  left: 0;
  bottom: 0;

  margin-right: auto;
  margin-left: auto;

  border-bottom: 3px solid #dcd2b8;
}

.question-select {
  margin-top: 30px;

  font-size: 0.8125rem;
  font-weight: 400;
}

.select-wrap {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.select {
  margin-top: 8px;
  padding: 15px 18px;
  flex-grow: 1;
  font-size: 0.8125rem;
  font-weight: 400;

  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url(../svg/form-arrows.svg);
  background-position: right 15px center;
  background-repeat: no-repeat;
  background-size: 7px 15px;
  background-color: #f4f7f6;

  color: #9e9e9e;
  cursor: pointer;
}

.select:focus {
  border: 2px solid #b59f5b;
}

.select-option {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  font: inherit;
  padding: 0;
  color: #9e9e9e;
  border: none;
}

.question-radio {
  margin-top: 30px;
  margin-bottom: 10px;

  font-size: 0.8125rem;
  font-weight: 400;
}
.radio-group-text {
  padding-top: 18px;
}

.radio-btn {
  width: 0;
  height: 0;
  position: absolute;
  opacity: 0;
  z-index: -1;
}

.radio-group {
  margin-top: 10px;
  cursor: pointer;
}
.radio-group:nth-of-type(n + 2) {
  margin-left: 34px;
}

.radio-group-text::before {
  content: "";
  width: 24px;
  height: 24px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 4px;

  position: relative;

  background-image: url(../svg/form-empty-circle.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 24px 24px;
}

.radio-btn:checked + .radio-group-text::before {
  background-image: url(../svg/form-circle.svg);
}

.input-text {
  background-color: #f4f7f6;
  width: 100%;
  min-height: 128px;
  padding: 20px;
  margin-top: 10px;

  border: none;
}

.input-text:checked {
  border: 1px solid #b59f5b;
}

.button-send {
  padding-top: 15px;
  padding-bottom: 15px;
}

/*--------------мобильные телефоны-----------------*/

@media (max-width: 640px) {
  /*шапка мобилки*/

  .main-header {
    padding-top: 5%;
    min-height: 100vh;

    background-image: url(../images/banner-mobile.jpg);
  }

  .navicon-svg {
    margin-right: 4.2%;
  }

  .navicon {
    order: -1;
  }

  .navigation {
    width: 88.8vw;
  }

  .logo-nav {
    min-height: 40vh;
    justify-content: center;
    align-content: space-between;
  }

  .logo {
    margin-bottom: 40px;
    width: 270px;
    align-self: center;
  }

  .title-head {
    font-size: 1.625rem;
    max-width: 81%;
  }

  /*в тренде мобилки*/
  .trend-header {
    min-height: 5.94em;
  }

  .trend-header-title,
  .popup-title {
    font-size: 1rem;
    position: relative;

    padding-bottom: 12px;
  }

  .trend-post {
    min-height: 232px;
    width: 100%;
    vertical-align: bottom;
  }

  .trend-post-wrap {
    margin: 4.17%;
  }

  .title-trend {
    font-size: 1rem;
  }

  /*Основной контент мобилки*/
  .content,
  .shop {
    margin-right: 4.17%;
    margin-left: 4.17%;
  }

  /*Блок с постами мобилки*/

  .post {
    margin-top: 40px;

    border-bottom: 3px solid #dcd2b8;
  }

  .image-post {
    max-width: 91.66vw;
  }

  .main-tegs,
  .image-post {
    margin-bottom: 15px;
  }

  .text-news {
    margin-bottom: 20px;
  }

  .title-news {
    margin-bottom: 25px;

    font-size: 1rem;
  }

  .text-news {
    font-size: 0.875rem;
  }

  .text-news-inner {
    margin-top: 25px;
  }

  /* Мобилки новые посты*/

  .caption,
  .caption-shop {
    margin-top: 43px;
    font-size: 1rem;
  }

  .img-new-post {
    max-width: 21.21%;
    margin-right: 20px;
  }

  /*форма поиска*/

  .search-input,
  .search-button,
  .email-input,
  .email-button {
    height: 50px;
  }

  .search-button {
    width: 47px;
  }

  /*Мобилки список тегов*/

  .tegs {
    margin-top: 43px;
  }
  .list-tegs {
    /*justify-content: space-between;*/
    margin-top: 17px;
  }

  .list-teg-link {
    margin-top: 7px;
    margin-right: 7px;
  }

  /*мобилки список тем*/

  .topics {
    margin-top: 43px;
  }

  .list-topics {
    padding-top: 10px;
  }

  /* мобилки список товаров */

  .product {
    margin-top: 20px;
  }

  .title-product {
    font-size: calc(17px / 1rem);
  }

  .text-product {
    font-weight: 400;
    font-size: 0.9375rem;
  }

  /* подвал мобилки*/
  /*мобилки соцсети*/
  .adress {
    margin-top: 19.44vw;
    margin-bottom: 22.22vw;
  }

  .footer-page {
    padding-bottom: 22.22vw;
  }

  /*Попап мобилки*/
  .popup-close {
    width: 28px;
  }
  .popup-form {
    height: 85.15vh;

    width: 91.66vw;
  }
}

/*-------------Мобильные в горизонтальной ориентации-----------*/

@media (max-width: 640px) and (orientation: landscape) {
  .trend-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .trend-post {
    width: 49.5%;
  }
}

/*---------------Мобилки и планшеты----------------*/

@media (max-width: 1199px) {
  /*шапка*/

  .navicon {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  .navicon-svg {
    width: 25px;
  }

  .navigation {
    display: flex;
    justify-content: space-between;
  }

  .link-nav {
    margin-right: 9.3%;
    font-size: 0.8125rem;
    display: none;
  }

  .link-nav:nth-child(-n + 2) {
    display: none;
  }
}

@media (min-width: 641px) {
  /*Планшеты и ПК*/
  /*Планшеты и ПК шапка*/
  .logo-nav {
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
    align-items: center;
  }

  .title-head {
    width: 15.22em;
    margin-top: 2.62em;
  }
  .trend-wrap {
    display: flex;
    justify-content: space-between;
  }

  .trend-post-wrap {
    margin-bottom: 15px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .trend-post-title {
    font-weight: 700;
  }

  /*Планшеты и ПК основной контент*/
  .content,
  .shop {
    display: flex;
    justify-content: space-between;
    margin-right: auto;
    margin-left: auto;
  }

  .title-news {
    margin-top: 15px;
    font-weight: 700;
    text-transform: uppercase;
  }

  .img-new-post {
    margin-right: 18px;
  }

  .search-input,
  .search-button,
  .email-input,
  .email-button {
    height: 37px;
  }

  .search-button {
    width: 37px;
  }

  /*Список тегов планшеты и ПК*/
  .tegs {
    margin-top: 60px;
  }

  .list-tegs {
    margin-top: 25px;
  }

  .list-teg-link {
    margin-right: 7px;
    margin-bottom: 7px;
  }

  /*Список тем планшеты и ПК*/

  .topics {
    margin-top: 60px;
  }

  .list-topics {
    padding-top: 21px;
  }

  /* Блок с товарами планшеты и ПК*/
  .shop {
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .caption-shop {
    font-size: 1.25rem;
    width: 100%;
  }

  .product {
    margin-top: 25px;
  }

  /*Footer планшеты*/
  .adress {
    margin-top: 61px;
  }

  .site-info {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 69px;
  }

  /*Попап планшеты и ПК*/

  .popup-form {
    width: 390px;
    min-height: 590px;
  }
}

/*---------------планшеты--------------------------*/

@media (min-width: 641px) and (max-width: 1199px) {
  /*шапка*/

  .main-header {
    padding-top: 42px;
    padding-bottom: 125px;
    background-image: url(../images/banner-bg-tablet.jpg);
  }
  .navicon-svg {
    margin-right: 35px;
  }

  .logo-nav {
    width: 90vw;
  }

  .logo {
    width: 158px;
  }

  .title-head {
    font-size: 2.5rem;
  }

  /*В тренде планшеты*/
  .trend-header {
    margin-top: 43px;
    margin-bottom: 20px;
  }

  .trend-header-title,
  .trend-post .tpopup-title {
    font-size: 1.125rem;
  }

  .trend-wrap {
    flex-wrap: wrap;
  }

  .trend-post {
    width: 49.74%;
    min-height: 246px;
  }

  .trend-post-title {
    margin-top: 15px;
    font-size: 1.0625rem;
  }

  .title-trend {
    font-size: 1.0625rem;
  }

  /*Основной контент планшеты*/

  .content,
  .shop {
    margin-top: 50px;
    width: 91.14vw;
  }

  .posts {
    width: 55.72%;
  }

  .aside {
    width: 38.85%;
  }

  .post:not(:last-child) {
    border-bottom: 3px solid #dcd2b8;
  }

  .post:nth-child(n + 2) {
    margin-top: 35px;
  }

  .image-post {
    margin-right: 30px;
    width: 100%;
  }

  .main-tegs {
    margin-top: 16px;
  }

  .title-news {
    margin-bottom: 37px;

    font-size: 1.0625rem;
  }

  .text-news-inner {
    margin-top: 37px;
    margin-bottom: 20px;
  }

  .text-news {
    font-size: 0.9375rem;
  }

  /*новые посты планшеты*/
  .caption {
    font-size: 1.125rem;
  }

  .product {
    width: 48.35%;
  }

  .product-wrap {
    min-height: 260px;
  }

  .title-product {
    font-size: calc(17px / 1rem);
  }

  /*Попап планшеты*/
  .popup-close {
    width: 28px;
  }
}

/*--------------планшеты в горизонтальной ориентации-----------*/

@media (min-width: 641px) and (max-width: 1199px) and (orientation: landscape) {
  .trend-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .trend-post {
    width: 24.8%;
  }
}

/*----------------декстоп-----------------*/

@media (min-width: 1200px) {
  /*шапка*/

  .main-header {
    padding-top: 25px;
    padding-bottom: 145px;

    background-image: url(../images/banner-bg.jpg);
  }

  .navicon-svg {
    display: none;
  }

  .logo-nav {
    max-width: 1200px;
  }

  .logo {
    width: 179px;
  }

  .link-nav:nth-child(n + 2) {
    margin-left: 34px;
  }

  .title-head {
    font-size: 2.8125rem;
  }

  /*В тренде*/
  .trend-header-title,
  .trend-post,
  .title-trend,
  .trend-post-title,
  .popup-title {
    font-size: 1.25rem;
  }

  .trend-header {
    min-height: 6.1em;
  }

  .trend-post {
    width: 24.7%;
    min-height: 320px;
  }

  .trend-post-title {
    margin-top: 15px;
  }

  /*Основной контент*/

  .content,
  .shop {
    margin-top: 63px;
    max-width: 1200px;
  }

  .posts {
    width: 67.35%;
  }

  .aside {
    width: 23.25%;
  }

  .post {
    display: flex;
  }

  .post:nth-child(n + 2) {
    margin-top: 57px;
  }

  .image-post {
    margin-right: 30px;
    width: 368px;
    align-items: flex-start;
  }
  .main-tegs {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
  }

  .main-teg:not(:last-child) {
    margin-right: 14px;
  }

  .teg {
    text-transform: uppercase;
    color: #b59f5b;
    font-weight: 700;
  }

  .teg:hover {
    border-bottom: 2px solid #dcd2b8;
  }

  .text-newses {
    display: block;
  }

  .title-news {
    margin-bottom: 23px;

    font-size: 1.25rem;
  }

  .title-news > .link:hover {
    color: #b59f5b;
  }

  .data,
  .name,
  .data-new-post,
  .site-info,
  .index,
  .list-teg {
    font-size: 0.75rem;
  }

  .data {
    margin-right: 10px;

    font-weight: 400;
    color: #888;
  }

  .name {
    font-weight: 700;
    text-transform: capitalize;
  }

  .text-news-inner {
    margin-top: 50px;
  }

  .text-news {
    font-size: 0.9375rem;
  }

  .caption {
    position: relative;
    margin: 0;
    padding-bottom: 15px;

    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
  }

  .caption::before {
    content: "";
    position: absolute;

    top: 0;
    right: 0;
    left: 0;
    bottom: 0;

    margin-left: auto;
    margin-right: auto;
    padding-top: 14px;

    width: 61px;
    border-bottom: 3px solid #e1d9bd;
  }

  .container {
    display: flex;
    margin-top: 22px;
  }

  .img-new-post {
    width: 70px;
  }

  .data-new-post {
    color: #888;
  }

  .caption-new-post {
    padding-top: 3px;
    margin: 0;

    font-size: 0.875rem;
    font-weight: 700;
    text-transform: uppercase;
  }

  .caption-new-post > .link:hover {
    color: #b59f5b;
  }

  /* Блок с товарами ПК*/

  .product-wrap {
    min-height: 265px;
  }

  .product {
    width: 27.7%;
  }

  .title-product {
    font-size: 1.25rem;
  }
  /*footer ПК*/

  .footer-page {
    padding-bottom: 34px;

    max-width: 1200px;
  }

  /*Попап ПК*/
  .popup-close {
    width: 21px;
  }
}
